body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #0B1D26;
  color: #fff;
  overflow-x: hidden;
}


/* Background and Content Stack Styles */

.background-stack {
  position: relative;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #0B1D2600;
}



.content-stack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

/* Header Styles */

.logo-image {
  height: 48px;
  width: auto;
}

.nav-list .nav-link {
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
  transition: color 0.2s;
}

.nav-list .nav-link:hover {
  color: #FFD700;
  text-decoration: underline;
}

.header span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: #fff;
}

.header img[alt="user-account"] {
  height: 28px;
  width: auto;
}

/* Hero Section Styles */

.hero-tag {
  color: #FFD700;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.hero-title {
  font-family: "Chronicle Display", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 2.5rem;
}

.hiking-text {
  border-radius: 18px;
  padding: 40px 32px;
  color: #fff;
}

.hiking-tag {
  color: #FFD700;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1rem;
}

.hiking-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 18px 0 16px 0;
  line-height: 1.2;
}

.hiking-description {
  font-size: 1.15rem;
  margin-bottom: 24px;
  color: #e0e0e0;
}

.hiking-cta {
  color: #FFD700;
  border-radius: 24px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.2s, color 0.2s;
}

.hiking-cta:hover {
  background: #fff;
  color: #222;
  text-decoration: underline;
}

.hiking-image img {
  width: 100%;
  max-width: 300px !important;

}

.hiking-image2 img {
  width: 100%;
  max-width: 300px !important;
  height: 400px !important;
  ;
}

.content-number {
  font-size: 4.5rem;
  font-weight: 600;
  color: #f5f4ef;
  margin-bottom: 16px;
  opacity: 0.1;
  z-index: 10;
  position: absolute;
  line-height: 1;
  margin: 0;
  margin-top: -25px;
}

footer h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #FBD784;
  margin-bottom: 16px;
  font-family: "Gilroy", sans-serif;
}

footer li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 10px 0;
}